In [38]:
import mysql.connector
from mysql.connector import Error

def create_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="",
        )
        
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection("localhost", "root", "")

Connection to MySQL DB successful

In [33]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mainan"
)

cursor = db.cursor()
sql = """CREATE TABLE customers (
  customer_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  address Varchar(255)
)
"""
cursor.execute(sql)

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [34]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mainan"
)

cursor = db.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Dian", "Mataram")
cursor.execute(sql, val)

db.commit()

print("{} data ditambahkan".format(cursor.rowcount))

1 data ditambahkan

In [1]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mainan"
)

cursor = db.cursor()
sql = "SELECT * FROM customers"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Dian', 'Mataram', 8232353)
(2, 'Dian', 'Mataram', 875434342)
(3, 'mahmud', 'tegal', 873318821)
(4, 'mami', 'semarang', 83855324)
(5, 'nur', 'semarang', 83655883)
(6, 'susan', 'semarang', 87523134)
(7, 'lala', 'semarang', 85694477)
(8, 'nuna', 'semarang', 853488521)
(9, 'farid', 'semarang', 833556435)
(10, 'alan', 'semarang', 833753255)

In [2]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mainan"
)

cursor = db.cursor()
sql = "SELECT * FROM produk"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Bola', 2000.0)
(2, 'kuda-kudaan', 20000.0)
(3, 'robot', 32500.0)
(4, 'ular-ularan', 2000.0)
(5, 'monopoli', 25000.0)
(6, 'playpad mini', 44500.0)
(7, 'lego yoyo', 115000.0)
(8, 'salon-salonan', 35000.0)
(9, 'magic sand', 63000.0)
(10, 'dokter-dokteran', 61000.0)
(11, 'kerincingan bayi', 45000.0)
(12, 'kuda loncat', 87000.0)
(13, 'jam tangan anak', 18000.0)
(14, 'lego pemadam kebakaran', 195000.0)
(15, 'aiped arab 3 bahasa', 55000.0)
(16, 'masak-masakan', 52500.0)
(17, 'mobil robot', 125000.0)
(18, 'talking hamster', 95000.0)
(19, 'mainan gerobak ice cream', 223500.0)
(20, 'mainan make up', 93100.0)
(21, 'kolam renang 102cm', 100816.0)
(22, 'skuter ', 238500.0)
(23, 'mobil-mobilan isi 10', 35000.0)
(24, 'musical playgym', 165500.0)
(25, 'gigitan bayi', 37500.0)
(26, 'sarung tangan gigitan bayi', 34894.0)
(27, 'mobil jungkir balik', 15000.0)
(28, 'mainan kereta', 38160.0)
(29, 'avanger nerf gun ', 182450.0)
(30, 'mainan pukul-pukulan', 68000.0)
(31, 'kitchen set koper', 204897.0)
(32, 'kereta api lokomotif ', 170200.0)
(33, 'piano keyboard techno', 435000.0)
(34, 'piano karaoke dan mic', 190500.0)
(35, 'mini drum set', 61970.0)
(36, 'mainan ebook 3 bahasa', 86601.0)
(37, 'flying toy', 69000.0)
(38, 'sepeda roda 3 family', 631845.0)
(39, 'gantungan bayi ', 36900.0)
(40, 'kolam mandi bola', 57081.0)
(41, 'boneka jari animal', 39000.0)
(42, 'blender mainan', 170000.0)
(43, 'hp mainan', 44550.0)
(44, 'talking tom', 85990.0)
(45, 'mobil robot thomas', 83923.0)
(46, 'ban renang model mobil polisi', 112500.0)
(47, 'boneka barbie', 32000.0)
(48, 'merrygroun wonderland', 90000.0)
(49, 'mainan pancing', 49500.0)
(50, 'ban renang angsa', 33837.0)

In [3]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mainan"
)

cursor = db.cursor()
sql = "SELECT * FROM penjualan"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 2, 1, 1)
(2, 3, 1, 2)